<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Productos</title>
</head>

<body>
    <h1> Lista de Productos en Tiempo Real </h1>
    <ul>
        {{#each products}}
        <li>{{this.name}} - {{this.description}}</li>
        {{/each}}
    </ul>

    <form action="/realTimeProducts" method="post">
        <label for="name">Nombre del Producto</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Descripcion del Producto</label>
        <input type="text" id="description" name="description" required>

        <button type="submit">Agregar Producto</button>
    </form>

</body>

</html>